<h1 class="mt-5">Selectores anidados</h1>
<h1></h1>


<form [formGroup]="miFormulatio" (ngSubmit)="aceptar()">

    <!-- region -->
    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Continente:</label>
            <select class="form-control"
                formControlName="region">
                <option value="">-- Selecciona continente --</option>
                <option *ngFor="let region of regiones" 
                        [value]="region|lowercase">
                            {{region}}
                </option>
            </select>
        </div>
    </div>

    <!-- paises -->
    <div class="row mb-3" *ngIf="paises.length!==0">
        <div class="col">
            <label class="form-label">Pais:</label>
            <select class="form-control"
                formControlName="pais">
                <option value="">-- Selecciona pais --</option>
                <option *ngFor="let pais of paises" 
                        [value]="pais.alpha2Code">
                            {{pais.name}}
                </option>
            </select>
        </div>
    </div>

    <!-- fronteras -->
    <div class="row mb-3" *ngIf="fronteras.length!==0">
        <div class="col">
            <label class="form-label">Frontera:</label>
            <select class="form-control"
                formControlName="frontera">
                <option value="">-- Selecciona frontera --</option>
                <option *ngFor="let frontera of fronteras" 
                        [value]="frontera.alpha2Code">
                            {{frontera.name}}
                </option>
            </select>
        </div>
    </div>

    <div class="row" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-primary">
                Cargando...
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" 
                type="submit"
                [disabled]="miFormulatio.invalid">
                Aceptar
            </button>
        </div>
    </div>



</form>

<br>
<h3>Formulario</h3>
<hr>
<pre>Valid: {{miFormulatio.valid}}</pre>
<pre>value: {{miFormulatio.value|json}}</pre>